@import "_components";
@import "general";
@import "layouts";




.map {
    width: 70%;
    height: 25rem;
    background-image: url('../images/background\ img.png');
    background-size: 100% 100%;
    background-position: center;
    margin: 0 auto;
    margin-top: 4rem;
}

.contact {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .form {
        padding-top: 2rem;

        textarea {
            width: 99%;
            height: 10rem;
            padding: 10px 10px;
            border: 1px solid $border-color;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 1rem;
        }

        input[type='submit'] {
            @include style-btn($color-light, $bg-footer);
            transition: all .3s;

            &:hover {
                background-color: $bg-btn;
            }
        }
    }

    .sec-right {
        padding: 73px 46px;

        ul li {
            @include flex(start, start);
            margin-bottom: 26px;

            i {
                font-size: 1.3em;
                margin: 8px 6px;
            }
        }
    }
}

footer {
    margin-top: 2rem;
}